.main-container{
    margin: 50px 200px;
}

@media only screen and (max-width: 991px) and (min-width: 769px){
    .main-container{
        margin: 20px 50px;
    }
}
   
@media only screen and (max-width: 769px){
    .main-container{
        margin: 10px 20px;
    }
}

