.home-container{
    font-size: 2em;
    font-family: "isocpeur", sans-serif;
    padding-top: 50px;
}

p{
    margin: 2em;
}

img{
    max-width: 300px;
}

h3{
    font-family: "isocpeur", sans-serif;
    margin: 1em;
    font-size: 3em;
}
